/* Custom styles */

body {
	font-size: 2em;
	background-color: #000;
	color: #fff;
}

h1 {
	font-size: 1.5em;
	margin-top: 150px;
	margin-bottom: 55px;
	text-align: center;
}

a {
  color: yellow;
  border-bottom: solid 1px yellow;
}

a:hover,
a:focus {
	color: orange;
	border: none;
	text-decoration: none;
	outline: 2px solid #F66;
	outline-offset: 5px;
}

.axeConDays ul ul li {
	margin: 25px 15px;
}

.axeConDays ul {
	margin: 25px 55px;
}

#wednesday-date {
	margin-top: 300px;
	border-top: solid 3px #fff;
	padding-top: 35px;
}

.axeConDays h2 {
	margin-top: 125px;
	text-align: center;
}

.axeConCollab {
	margin-bottom: 25px;
}